.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .logo {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .links {
    display: flex;
  }
  .navlink {
    list-style: none;
    margin: 0 0.75rem;
    text-transform: uppercase;
  }
  .navlink a {
    text-decoration: none;
    color: black;
  }
  .navlink a:hover {
    color: #d81c24;
  }